body{
    font-family: Arial;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #f2f2f2;
}

form{
    background: white;
    padding: 25px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    width: 100px;
    padding: 8px;
}

button{
    width: 100%;
    padding: 10px;
    background: #008cff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background: #006fd6;
}

.icone{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.icone:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.icone input{
    width: 100%;
    background: transparent;
    outline: none;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.icone i{
    cursor: pointer;
    margin-right: 0px;
}

.cadastro-box{
    width: 350px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
}
.cadastro-box input{
    width: 100%;
    padding: 10px;
    margin: 0;
}

.cadastro-box button{
    font-size: 18px;
    margin-bottom: 15px;
}

.cadastro-box a{
    text-decoration: none;
    color: royalblue;
}