body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
    background-color: #c9d6ff;
    margin: 0;
    padding: 0;
}

main{
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c9d6ff;
    background: linear-gradient(#98b0ff, #e2e2e2);
}

form{
    background: white;
    padding: 25px;
    font-size: 20px;
    align-items: center;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    width: 100px;
    padding: 8px;
}

button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #008cff;
    background: linear-gradient(to left, #008cff, #006fd6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 24px;
    background-size: 200% auto;
    background-position: left center;
    transition: background-position 0.8s ease;
}

button:hover{
    background-position: right center;
}

.icone{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.icone:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.icone input{
    width: 100%;
    background: transparent;
    outline: none;
    font-size: 16px;
    border: none;
}

.icone i{
    cursor: pointer;
    margin-right: 0px;
}

.cadastro-box{
    width: 30%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    transform: translateY(200px);
    animation: subir 0.7s ease-out forwards;
}
.cadastro-box input{
    width: 100%;
    padding: 10px;
    margin: 0;
}

.cadastro-box button{
    font-size: 20px;
    margin-bottom: 15px;
}

.login-box{
    width: 30%;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    transform: translateY(100px);
    animation: subir 0.7s ease-out forwards;
}

@keyframes subir{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.login-box input{
    width: 100%;
    padding: 10px;
    margin: 0;
}

.login-box button{
    font-size: 20px;
    margin-bottom: 15px;
}

a{
    text-decoration: none;
    color: rgb(0, 64, 255);
}

.text-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #008cff, #006fd6, #008cff);
    background-size: 300% 100%;
    background-position: 0% 0%;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
    animation: moverGradiente 10s linear infinite;
}

@keyframes moverGradiente {
    from { background-position: 0% 0%; }
    to   { background-position: 100% 0%; }
}


.text-box p{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
