body{
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient( #006fd6, white);
}

form{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vh;
    padding: 10px;
    border: 1px solid black;
    gap: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    transform: translateY(100px);
    animation: subir 0.7s ease-out forwards;
}

@keyframes subir{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.container input{
    width: 90%;
    padding: 8px;
    background: transparent;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.container button{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    background: #008cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover{
    background: #006fd6;;
}

.buttons{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

