body{
    font-family: Arial;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #f2f2f2;
}

fieldset{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vh;
    padding: 10px;
    height: 20vh;
    gap: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
}

.container input{
    width: 90%;
    height: 30px;
}

.container button{
    width: 50%;
    padding: 10px;
    background: #008cff;
    color: white;
    border-radius: 10px;
    margin: 10px;
    border: none;
}

.container button:hover{
    background: #006fd6;;
}

